<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
    {% include head-custom.html %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNTX5FEF8K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YNTX5FEF8K');
    </script>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">

    <header class="inner">
        <!--<div id="logo"></div> -->
        <img class="img-responsive" src="images/CIVa_Logo_150.png" alt="">
        <br>
        <h1 id="project_title" style="text-align: center;">Chromosomal Instability aiding Variants (CIVa) Database</h1>
        <br>
        <h2 id="project_tagline">The CIVa database curates Loss of Function (LoF) variation predictions in chromosome segregation genes from multiple human genome sequencing efforts, including ELGH, BiB, Birm, COSMIC and Gnomad, in over 150,000 healthy individuals and patients.</h2>
        <h2 id="project_tagline">The first version was published as part of Asifa et al., 2021, DOI to be included.</h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<main id="content" class="main-content" role="main">
    {{ content }}

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <ul id="footer_ul">
                                <li><strong>ELGH:</strong> East London Genes and Health Database. (sample size = 3781)</li>
                                <li> <strong>BiB:</strong> Born in Bradford. (sample size = 2624)</li>
                                <li><strong>Birm:</strong> Birmingham (sample size = 1060). Assess date = 29 Jan 2020.</li>
                                <li><strong>COSMIC:</strong> Catalogue of Somatic Mutations in Cancers Database. Assess date = Dec 2021</li>
                                <li> <strong>gnomAD:</strong> Genome Aggregation Database. Assess date = Dec 2021</li>
                                <li><strong> Consequence:</strong> Predicted consequence of the mutation based on the transcript indicated.</li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-4">

                                <ul id="footer_ul">
                                <li><strong>Protein position:</strong> Position of amino acid affected.</li>
                                <li><strong>Amino acid:</strong> Amino acid change e.g., R/* means Arginine changed into stop codon.</li>
                                <li><strong>AF:</strong> Allele frequency: Frequency at which the allele is present in the database indicated.</li>
                                <li><strong> N_Hom:</strong> Number of homozygous variants identified in the database indicated.</li>
                                <li><strong> N_Het:</strong> Number of hetrozygous variants identified in the database indicated.</li>
                                <li><strong> NA:</strong> Not Found.</li>
                                </ul>
                            </div>
                        <div class="col-sm-4 col-md-4">
                             {% if site.github.is_project_page %}
                             <p id="footer_p">CIVa Database maintained by <a href="{{ site.github.owner_url }}" target="_blank">{{ site.github.owner_name }}</a></p>
                             {% endif %}
                            <p id="footer_p">Published with <a href="https://pages.github.com" target="_blank">GitHub Pages</a></p>
                            <p id="footer_p">Find out more about us at <a href="http://www.draviamlab.uk/" target="_blank">Draviam Lab</a></p>
                            <p id="website_counter">
                                <span style=\"color:white\">" No. of Visitors: </span>
                                <a href='https://dissertation-writingservice.com/'>Dissertation WritingService</a>
                                <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=c009837341f67c9ab7b8d585958c1c0500f19e1b'></script>
                                <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/910996/t/5"></script> </p>
                        </div>
                    </div>
                </div>
        </footer>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="img-responsive" src="images/BBSRC.jpeg" alt="">
            </div>
            <div class="col-sm">
                <img class="img-responsive" src="images/UKRI.jpeg" alt="">
            </div>
            <div class="col-sm">
                <img class="img-responsive" src="images/CONACYT.jpeg" alt="">
            </div>
            <div class="col-sm">
                <img class="img-responsive" src="images/CSC.png" alt="">
            </div>

        </div>
    </div>
</main>
</body>
</html>
