<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
    {% include head-custom.html %}
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">

    <header class="inner">
        <!--<div id="logo"></div> -->
        <img class="img-responsive" src="images/CIVa-logo-black-150.png" alt="">
        <br>
        <h1 id="project_title" style="text-align: center;">CIVa Database</h1>
        <br>
        <h2 id="project_tagline">CIVa (Chromosomal Instability aiding Variants) curates Loss of Function (LoF) variation predictions in chromosome segregation genes from multiple human genome sequencing databases, including ELGH (East London Genes and Health), COSMIC (Catalogue of Somatic Mutations in Cancers) and Gnomad (Genome Aggregation Database). </h2>
        <h2 id="project_tagline">The first version was published as part of Asifa et al., 2021, DOI to be included. </h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<main id="content" class="main-content" role="main">
    {{ content }}

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            {% if site.github.is_project_page %}
            <p class="copyright">CIVa Database maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>
</main>
</body>
</html>
