<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
    {% include head-custom.html %}
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">

    <header class="inner">
        <!--<div id="logo"></div> -->
        <img class="img-responsive" src="images/CIVa-logo-150.png" alt="">
        <br>
       <!--<h1 id="project_title" style="text-align: center;">CIVa Database</h1>
        <br>-->
        <h2 id="project_tagline">CIVa (Chromosomal Instability aiding Variants) database curates Loss of Function (LoF) variation predictions in chromosome segregation genes from multiple human genome sequencing databases, including ELGH (East London Genes and Health), COSMIC (Catalogue of Somatic Mutations in Cancers) and Gnomad (Genome Aggregation Database). </h2>
        <h2 id="project_tagline">The first version was published as part of Asifa et al., 2021, DOI to be included. </h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<main id="content" class="main-content" role="main">
    {{ content }}

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer>

                <div class="container">
                    <div class="row">
                        <h5>Genes and Health Database</h5>
                        <br>
                        <div class="col-sm-4 col-md-4">


                            <ul id="footer_ul">
                                <li><strong>ELGH:</strong>East London Genes and Health (sample size=3781) </li>
                                <li> <strong>BiB :</strong> Born in Bradford (sample size=2624)</li>
                                <li><strong>Birm :</strong> Birmingham (sample size=1060). Assess date=29.01.2020.</li>
                                <li><strong>COSMIC:</strong>COSMIC database (sample size= ). Assess date= Dec 2021</li>
                                <li> <strong>gnomAD:</strong>gnomAD v2.1.1 database (sample size= ). Assess date= Dec 2021</li>
                                <li><strong> Consequence:</strong> Predicted consequence of the mutation based on the transcript indicated.</li>
                                </ul>


                            </div>
                            <div class="col-sm-4 col-md-4">

                                <ul id="footer_ul">
                                <li><strong> Protein position:</strong> Position of amino acid affected.</li>
                                <li><strong>Amino acid:</strong> Amino acid change e.g., R/* means Arginine changed into stop codon.</li>
                                <li><strong>AF:</strong>Allele frequency: Frequency at which the allele is present in the database indicated.</li>
                                <li><strong> N_Hom:</strong> Number of homozygous variants identified in the database indicated.</li>
                                <li><strong> N_Het:</strong> Number of hetrozygous variants identified in the database indicated.</li>

                                </ul>



                            </div>
                        <div class="col-sm-4 col-md-4">
                             {% if site.github.is_project_page %}
                             <p>CIVa Database maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
                             {% endif %}
                            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>

                        </div>
                    </div>
                </div>


        </footer>
    </div>
</main>
</body>
</html>
